/* home */

/* monster */

/* ghost */
#ghost h1 {
    color:white;
    text-align:center;
    font-family:fantasy;
    margin-top: 100px;
}
#ghost h2 {
    color:white;
    text-align:center;
    font-family:fantasy;
    
}

#ghost{
    background-color:orange;
border-bottom:1px solid purple;

height:100vh;
}



#ghost h1{
font-size:50px;
margin:0;

}

#ghost p{
color:white;
margin:0;
}

#ghost .ghost-content{
background:orange;
color:brown;

opacity:0.9;
}

/* bathtub */

/* alpinist */
